* {
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #141414;
  color: white;
}
#logo {
  color: #e50914;
}
#select {
  font-size: 20px;
}
header{
  background-color: black;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
#selectSerieFilm{
  color: white;
  border: none;
  background-color: transparent;
}
#selectSerieFilm option{
  background: black;
  border: none;
}
#selectSerieFilm option{
  background: black;
  border: none;
}
#lenteRicerca{
  cursor: pointer;
}
#ricerca {
  margin-left: 30px;
  border:0;
  border-bottom:1px solid #555;
  background:transparent;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#fff;
}
#ricerca:focus {
  border:none;
 outline:none;
 border-bottom:1px solid #e50914;
}
#risultati {
  width: 1500px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 100px 0;
}
.film , .serie {
  cursor: pointer;
  display: flex;

  flex-basis: 187px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 276px;
  text-align: center;
}


.film .img, .serie .img {
width: 185px;
height: 274px;
}
.film .img img, .serie .img img {
width: 185px;
height: 274px;
}

.infoFilm , .infoSerie {
  display: none;
  flex-basis: 187px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 20px 20px;

  text-align: center;
}
.active {
  display: flex;
  flex-basis: 187px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 20px 20px;
  min-height: 350px;
  text-align: center;
}
.film h3, .serie h3 {
  margin: 20px 0;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
}
.film h5, .serie h5 {
  margin: 20px 0;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
}

.film h6.title, .film h6.language, .serie h6.title, .serie h6.language  {
  color: grey;
  font-size: 13px;
  padding-bottom: 6px;
}

.film h6.language img, .serie h6.language img{
  width: 27px;
  height: 15px;
}

.film h6.vote, .serie h6.vote {
  color: red;
  font-size: 13px;
}
